*{
    background-color: hsl(217, 100%, 97%);
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;

}
.main{
    background-color: hsl(0, 0%, 100%);
    margin: 70px auto;
    width: 750px;
    height: 460px;
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(0 0 30px hsl(229, 24%, 87%));
    display: flex;
    gap: 10px;
    flex-direction: row;
   
}
.sidebar{
    height: 430px;
    border-radius: 10px;
    min-width: 230px;
    background-image: url('/assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    padding: 10px;
    
}
.round{
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    padding: 8px;
    background-color: transparent;
    text-align: center;

}
.clicked{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.steps{
    display: inline;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0px;
   
}
.steps div{
    background-color: transparent;
}
.steps div h3{
    background-color: transparent;
}
h3{
    margin: 0 0;
}
.box{
    align-self: center;
}
.faint{
    font-weight: 100;
}
.content{
    background-color: white;
}
.info{
    background-color: white;
    width: 350px;
    margin: auto 50px;
    padding: 15px;

}
.info-header{
    font-weight: 900;
    font-size: 25px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
    background-color: inherit;
}
.info-detail{
    background-color: inherit;
    color:hsl(231, 11%, 63%);
}
.forms{
    background-color: white;
    margin: auto 50px 0px;
    padding: 10px;
    
}
.form{
     background-color: white;
     margin-bottom: 20px;
}
.form input{
    background-color: #fff;
    width: 350px;
    height: 35px;
    padding: 10px;
    color:hsl(231, 11%, 63%);
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
}

.form label div{
    background-color: #fff;
    margin-bottom: 4px;
    font-weight: bold;
}
.btn{
    background-color: hsl(213, 96%, 18%);
    height: 40px;
    width: 100px;
    color: #fff;
    border-radius: 5px;
    margin-left: 250px;
    border: none;
    cursor: pointer;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.plans{
    margin-top: 10px;
    display: flex;
    margin: auto 50px;
    padding: 15px;
    gap: 13px;
    background-color: #fff;
    max-width: 380px;
    
}
.plan{
    height: 130px;
    width: 115px;
    padding: 10px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.focus{
    border: solid 1px blueviolet;
}
.game-icon{
    margin-left: 3px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
.game-header{
    font-weight: 900;
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 5px;
    background-color: inherit;
}
.game-detail{
    background-color: inherit;
    color:hsl(231, 11%, 63%);
}

body{
    position: relative;
}
.container{
    position: absolute;
    top: 65%;
    left: 70%;
    height: 50px;
    width: 100px;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    align-items: center;
    


}
.container .toggle{
    position: absolute;
    top: 14px;
    left: 0;
    width: 40px;
    height: 20px;
    background: hsl(213, 96%, 18%);
    border-radius: 30px;
    transition: 0.5s;
}
.container .toggle .toggle-button{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.container .toggle.active .toggle-button{
    left: 22px;
}
.container .text-1{
    position: absolute;
    left: -65px;
   
    
}
.container .text-2{
    position: absolute;
    left: 65px;
  
}
.faints{
    color: hsl(231, 11%, 63%);
}
.bold{
    color: hsl(213, 96%, 18%);
}
.yearly{
    background: #fff;
    margin-top: -5px;
}
.free{
    color: hsl(213, 96%, 18%);
    background: #fff;
}
.ends{
    position: absolute;
    bottom: 40px;
    left: 320px;
    background: white;
    display: flex;
    
}
.next{
    margin-left: 220px;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background-color:  hsl(213, 96%, 18%);
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.back{
    background-color: #fff;
    align-self: center;
    cursor: pointer;
}
.add-ons{
    background-color: white;
}
.add-on{
    background-color: #fff;
    border: solid 1px hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 64px;
    max-width: 350px;
}
input[type=checkbox]{
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 14px;
    width: 15px;
    height: 15px;
}
.type{
    margin-left: 20px;
    display: inline-block;
    background-color: #fff;
    padding: 0px;
    
}
.thin{
    font-weight: 200;
    background-color: #fff;
    margin-bottom: 0px;
    margin-top: 4px;
    color: hsl(231, 11%, 63%);
}
.thick{
    background-color: #fff;
    margin-top: 4px;
    margin-bottom: 0px;
    color: hsl(213, 96%, 18%);
    font-weight: 900;
}

.price{
    margin-left: 60px;
    color: hsl(243, 100%, 62%);
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: #fff;
  
}
.price-1{
    margin-left: 80px;
    color: hsl(243, 100%, 62%);
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: #fff;
}
.price-2{
    margin-left: 50px;
    color: hsl(243, 100%, 62%);
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: #fff;
}
#error{
    background-color: #fff;
    color: hsl(354, 84%, 57%);
    text-align: end;
    font-weight: 800;
    
}
#error-1{
    background-color: #fff;
    color: hsl(354, 84%, 57%);
    text-align: end;
    font-weight: 800;
    
}
#error-2{
    background-color: #fff;
    color: hsl(354, 84%, 57%);
    text-align: end;
    font-weight: 800;
    
}
.focuss{
    border: solid 1px blueviolet;;

}
.finals{
    background-color: #fff;
   
}
.arc{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
    color: hsl(231, 11%, 63%);
}
.arc h2{
    background-color: #fff;
}
.adv{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
    color: hsl(231, 11%, 63%);
}
.adv h2{
    background-color: #fff;
}
.pros{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    color: hsl(231, 11%, 63%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
}
.pros h2{
    background-color: #fff;
}
.onl{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
    color: hsl(231, 11%, 63%);
}
.onl h2{
    background-color: #fff;
}
.lar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
    color: hsl(231, 11%, 63%);
}
.lar h2{
    background-color: #fff;
}
.cust{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
    margin-bottom: 5px;
    color: hsl(231, 11%, 63%);
}
.cust h2{
    background-color: #fff;
}
.plansum{
    background-color: #fff;
}
.addsum{
    background-color: #fff;
}
.hidden{
    display: none;
}
.total{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 7px;
    margin-left: 60px;
    box-shadow: 0px 1px 2px 0px hsl(243, 70%, 81%);
    border-radius: 5px 0px 5px 0px;
}
.total h2{
    background-color: #fff;
}
.cri-1, .cri-2, .cri-3, .pri-1, .pri-2, .pri-3{
    background-color: #fff;
    color:  hsl(213, 96%, 18%);
};
